<h2><%= total_emails(@mailers) %> emails found</h2>
<p>Use the menu on the left hand side of the screen to navigate through the different email templates.</p>

<div class="welcome_message">
  <%= Maily.welcome_message.to_s.html_safe %>
</div>
