<h1>Emails list</h1>

<ul>
  <% @mailers.each do |mailer, emails| %>
  <h2><%= mailer %></h2>
    <% emails.each do |email| %>
      <li><%= link_to email, maily_email_path(mailer: mailer, method: email) %></li>
    <% end %>
  <% end %>
</ul>