<h1><%= "#{params[:mailer]} > #{params[:method]}" %></h1>

<p><%= link_to 'Return to list', root_path %></p>
<p><%= link_to 'Show', maily_email_path(mailer: params[:mailer], method: params[:method]) %></p>

<h2>Raw</h2>
<%= @email %>
