<% if flash[:alert].present? %>
  <div class="alert"><%= flash[:alert].html_safe %></div>
<% end %>

<% if flash[:notice].present? %>
  <div class="alert"><%= flash[:notice].html_safe %></div>
<% end %>
