<aside class="sidebar">
  <% @mailers.each do |mailer| %>
    <section class="nav_list">
      <h3 class="nav_title"><%= "#{mailer.name.humanize} (#{mailer.total_emails})" %></h3>
      <ul>
        <% mailer.emails_list.each do |email| %>
          <li><%= link_to email.name_with_version.humanize, maily_email_path(mailer: mailer.name, email: email.key), class: sidebar_class(mailer, email) %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
</aside>
