<aside class="sidebar">
  <% @mailers.each do |mailer| %>
    <section class="nav_list">
      <h3 class="nav_title"><%= "#{mailer.name.humanize} (#{mailer.total_emails})" %></h3>
      <ul>
        <% mailer.emails_list.each do |email| %>
          <% next if email.version.present? %>
          <li>
            <%= link_to maily_email_path(mailer: mailer.name, email: email.name), class: sidebar_class(mailer, email) do %>
              <%= email.name.humanize %>
              <% if email.versions.any? %>
                <%= "(#{email.versions.count} #{'version'.pluralize(email.versions.count)})" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</aside>
